/*=====================================
=            Layout styles            =
=====================================*/
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,700');

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  border-top: 5px solid $primary-color;
  background: linear-gradient(115deg, #de6bff, #028ade, #db3535);
  background-attachment: fixed;

  //background-color: $very-light-gray-color;
  //background: $base-background-color url("../images/bg-pattern.png");
  //background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  //background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  //background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  //background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
  //background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
  //background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  //background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");
}

.container {
  @include outer-container;
  padding: {
    left: $small-spacing;
    right: $small-spacing;
  }
}

.card {
  background-color: $white-color;
  box-shadow: 0 10px 7px -5px rgba(#000, 0.4);

  margin: 0 0 $base-spacing;
  padding: $base-spacing $small-spacing;
}

.site-header {
  @extend %clearfix;
  background-color: $white-color;
  padding: 0;
  margin-bottom: $base-spacing;
  border-bottom: 1px solid rgba($light-gray-color, 0.5);

  h1 {
    margin: 0;
    padding: 20px 0;
    float: left;
    font-weight: $font-weight-normal;
    font-size: rem(20);

    span {
      color: $primary-color;
    }
  }

  h1,
  a {
    text-transform: lowercase;
  }

  .navbar {
    float: right;
    padding: 10px 0 0 0;
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:focus,
    &:active {
      color: $dark-gray-color;
    }
  }
}

.navbar {
  li,
  a {
    display: inline-block;
  }

  a {
    padding: 5px 15px;
  }
}

.btn {
  @extend %button;

  &.btn-ghost {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
    margin-bottom: 2px;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }
}

// home hero presentation
body.home {
  width: 100%;
}

.hero {
  text-align: center;
  display: block;
  background: linear-gradient(115deg, #efefef, #ffffff, #efefef);

  max-width: 1200px;
  margin-bottom: 40px;
  box-shadow: 0 10px 7px -5px rgba(#000, 0.4);

  p {
    padding-bottom: 20px;
  }

  img {
    padding: 20px;
  }
}

h4.h4hero {
  font-weight: $font-weight-light !important;
}

.hero-inner {
  text-align: center;
  display: inline-block;
  padding: $base-spacing;

  .dot {
    padding: 5px;
    border: 1px solid $light-gray-color;
  }

  h1 {
    margin-top: 0.7em;
    font-size: rem(40);
  }

  h3 {
    font-size: rem(20);
    margin: 0.8em 0 1.2em;

    @include media($tablet-up) {
      font-size: rem(24);
    }
  }

  h3,
  em {
    font-weight: $font-weight-light;
  }

  em {
    color: $primary-color;
  }

  strong {
    font-weight: $font-weight-bold;
  }
}

//
// Articles
//

.feature-image {
  width: 300px;
}

.post {
  padding: $base-spacing 0;
}

.post-header {
  margin-bottom: $base-spacing;
}

.post-title {
  font-size: rem(40);
  margin-bottom: 10px;
  line-height: 1.2em;
  border-bottom: 1px rgba($light-gray-color, 0.3) dotted;
}

ol,
ul {
  list-style: disc;
}

ul {
  padding-bottom: 15px;
}

.post-list {
  .post {
    @extend .card;

    h1 a {
      color: $base-font-color;

      &:hover,
      &:active,
      &:focus {
        color: $primary-color;
        text-decoration: underline;
      }
    }
    a {
      color: $base-font-color;
    }
  }
}

.social {
  @extend %clearfix;
  padding: $base-spacing 0;

  li {
    display: inline-block;
    padding: 0 ($base-spacing/2.5);
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:active,
    &:focus {
      color: $primary-color;
    }
  }

  i {
    font-size: 1.2em;
  }
}

.post-content {
  h3,
  h4 {
    margin: 1.2em 0 0.05em 0;
  }
  h4 {
    font-size: 1.4rem;
  }
  td {
    padding: 10px;
  }

  figure {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
  }
}

.pagination {
  @extend %clearfix;
  text-align: center;
  margin: 2em 0;

  li {
    padding: 0 0.4em;
  }

  li,
  a,
  span {
    display: inline-block;
  }

  a,
  span {
    line-height: 1.2em;
    font-size: rem(12);
  }

  .btn {
    color: $base-font-color;
    border-color: rgba($light-gray-color, 0.8);
  }

  span {
    color: #aaa;
    font-style: italic;
  }
}

/* Site footer */
.site-footer {
  background-color: $white-color;
  border-top: 1px solid rgba($light-gray-color, 0.5);
  padding: $base-spacing;
  text-align: center;

  p {
    margin: 0;
  }
}

// Steven Hubert Customizations

img + em {
  display: block;
  text-align: center;
  clear: both;
  font-size: 16px;
  padding: 0 0 40px 0;
  margin-top: -38px;
  font-family: $heading-font-family;
}

.work {
  max-width: 1200px;
}

.work-list {
  display: flex;
  row-gap: 20px;

  h1 {
    font-size: 1.4em;
    line-height: 1em;
  }

  .post {
    flex: auto;
    display: inline-flex;

    .post-header {
      width: 300px;
      margin-right: 16px;
    }
  }
}

@media (max-width: 500px) {
  .post {
    flex-wrap: wrap;
    h1 {
      font-size: 1.2em;
      line-height: 1em;
    }

    .post-header {
      padding: 5px;
      margin-right: auto;
      width: auto;
    }
  }
}
.post-header {
  margin-bottom: 0.8em;
}

/* Modal */
.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
