

<div class="work-list">
  <article class="post">
    <header class="post-header"> 
      {% if work.featured-image | prepend: site.baseurl = true %}
      <figure class="feature-image">
        <a href="{{ work.url | prepend: site.baseurl }}"><img src="{{ work.featured-image | prepend: site.baseurl }}" /> </a>
      </figure>
      {% endif %}

      <h1 class="post-title">
        <a class="post-link" href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a>
      </h1>
    </header>

    <p><a href="{{ work.url | prepend: site.baseurl }}" title="Permalink to: {{ work.title }}" class="read-more">{{ work.excerpt | strip_html | truncatewords: 30 }}</a></p>
  </article>
</div>
